            li.Products-catalog-list-element
              .Products-catalog-list-image-wrapper
                img(src="Img/MainLogo.png" alt="" width="262" height="260")
              .Products-catalog-list-about
                a.item-header-link(href="#")
                  h3.Products-catalog-list-header Aenean Ru Bristique
                p.Products-catalog-list-price $350.00
                span.Products-catalog-list-rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                  i.far.fa-star
                p.Products-catalog-list-par
                  | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready.
                ul.Products-btn-list
                  li
                    button
                      i.far.fa-heart
                  li
                    button
                      i.fas.fa-balance-scale
                  li
                    button
                      i.fas.fa-search
                  li
                    button.Add-to-cart-btn
                      i.fas.fa-shopping-basket
                      | ADD TO CART
              .Products-catalog-list-image-wrapper
                img(src="Img/MainLogo.png" alt="" width="262" height="260")
              .Products-catalog-list-about
                a.item-header-link(href="#")
                  h3.Products-catalog-list-header Aenean Ru Bristique
                p.Products-catalog-list-price $350.00
                span.Products-catalog-list-rating
                  i.fas.fa-star
                  i.fas.fa-star
                  i.far.fa-star
                  i.far.fa-star
                  i.far.fa-star
                p.Products-catalog-list-par
                  | Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready.
                ul.Products-btn-list
                  li
                    button
                      i.far.fa-heart
                  li
                    button
                      i.fas.fa-balance-scale
                  li
                    button
                      i.fas.fa-search
                  li
                    button.Add-to-cart-btn
                      i.fas.fa-shopping-basket
                      | ADD TO CART