doctype html
html(lang=i18n.locale)
    head
        meta(charset="utf-8")
        title Article
        link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='../css/all.min.css')
        link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="/img/favicon/site.webmanifest")
        link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        header.Header
            include /templates/top_header.pug
            include /templates/middle_header.pug
            include /templates/bottom_header.pug
        main.Blog-article-main
            section.Blog-article.Section-centerer
                h1.Articles-main-header
                    |BLOG
                .Article-content
                    h2
                        |ТКАНЬ 101
                    p
                        |Размещение банды для напитков и закусок не должно означать, что день после того, как вы потратили стресс на обивку. Независимо от того, проливает ли кто-нибудь кофе, коктейли или сырное сырье, качественные диваны сохраняют давление. Думайте о них, как о беззаботном подходе к обивке, предлагая вам лучшее из обоих миров, смешивая ощущение роскоши с упругостью и долговечностью. Читайте дальше, чтобы узнать о преимуществах качественных диванов и способах ухода за ними.    
                    h2
                        |ЧТО ЗА ТКАНИ ?
                    p
                        |Эти прочные ткани имеют момент в центре внимания. Почему сейчас? Надежность (думайте, что она подходит для детей и домашних животных) и устойчивость в центре внимания людей при поиске новой мебели, рабочие ткани проверяют все коробки. Откройте для себя три основных преимущества использования сверхпрочной обивки.
                    h3
                        | 1. УСТОЙЧИВОСТЬ К ПЯТНАМ
                    p
                        |В CB2 наши рабочие ткани имеют барьер от влаги, который отталкивает пятна на водной и масляной основе. Жидкости накапливаются на поверхности, а не быстро впитываются в диван - избавляя вас от пятен, будь то ваш любимый мальбек или кофе французской прессы. Это означает, что вы можете украсить свою гостиную с белым или светло-серым диваном (и без бабушкиных пластиковых чехлов). Подумайте только: на следующем завтраке не нужно пропускать Кровавую Мэри, опасаясь разливов.
                    h3
                        | 2. ИЗНОСОСТОЙКОСТЬ
                    p
                        |Наши высокопроизводительные ткани рассчитаны на очень сильный износ благодаря тесту Wyzenbeek, который включает в себя многократное растирание ткани, чтобы увидеть, сколько потертостей требуется, прежде чем ткань начнет изнашиваться или терять текстуру. Для интенсивного использования в жилых комнатах, одобренная Wyzenbeek обивка требует 15 000 двойных рублей. Наши качественные ткани рассчитаны на 30000 - рейтинг, рекомендованный для диванов в коммерческих помещениях - значит, ваш диван выдержит годы вечерних вечеров и телевизионных перекуров. Еще один плюс: вы можете позволить своему меховому ребенку растягиваться в шезлонге вместе с вами для ночных объятий.
                    h3
                        | 3. ЭКОЛОГИЧЕСКИ ДРУЖЕСТВЕННАЯ
                    p
                        |Отдыхай спокойно. Наши производственные диваны производятся в соответствии со стандартами Oeko-Tex и Bluesign. Это означает, что они не только безопасны для использования в вашем доме, они также экологичны и экологичны, то есть они разработаны и созданы без ущерба для окружающей среды.
                    h2
                        | Как ухаживать за тканями
                    p
                        |Что произойдет, если вы что-то пролили? Мы получили тебя.
                        |Обязательно немедленно промокните пятна. Просто нажмите чистое, мягкое полотенце на указанное место.
                        |Ознакомьтесь с конкретными инструкциями по выбору ткани, чтобы определить, можете ли вы самостоятельно чистить ее водой и мягким моющим средством или вам нужно вызвать специалистов для сухой чистки.
                        |Для обивки, которая прекрасно сочетается с растворителями на водной основе, смешайте дистиллированную воду с моющими растворами на водной основе и сделайте легкие и средние пятна в тумане (например, красное вино, кофе, кетчуп) с помощью аэрозольного баллона. Чтобы оставаться в безопасности, сначала проверьте в незаметном месте.
                        |Если вы вовремя не уловили разлив, вам не нужно беспокоиться. Средние, темные и притертые пятна не подходят для уборочной машины. Не уверен, как использовать один? Положитесь на профессионала за помощью.
                        |Чтобы все диваны (включая рабочие ткани) выглядели наилучшим образом, вращайте подушки раз в неделю и профессионально убирайте свою мебель каждый год.
        footer.Footer
            include /templates/footer_top.pug
            include /templates/footer_bottom.pug
        script(type="module" src="/js/common_script.js")  