mixin brandsSection()
    section.Brands-list-section.Section-centerer
        button.List-scroll-left-btn
            i.fas.fa-chevron-left
        ul.Brands-list
            li
                a.List-item(href="#")
                    img(src="/img/brands/ameriwood_home_logo.png", alt="alt", width="141", height="90")
            li
                a.List-item(href="#")
                    img(src="/img/brands/better_homes_logo.png", alt="alt", width="141", height="90")
            li
                a.List-item(href="#")
                    img(src="/img/brands/furniture_of_america_logo.png", alt="alt", width="141", height="90")
            li
                a.List-item(href="#")
                    img(src="/img/brands/INVAL_AMERICA_logo.png", alt="alt", width="141", height="90")
            li
                a.List-item(href="#")
                    img(src="/img/brands/true_innovations_logo.png", alt="alt", width="141", height="90")
            li
                a.List-item(href="#")
                    img(src="/img/brands/sauder_logo.png", alt="alt", width="141", height="90")
        button.List-scroll-right-btn
            i.fas.fa-chevron-right
+brandsSection()