.Footer-bottom-wrapper
  .Footer-bottom.Section-centerer
    p
    p.Footer-copyright
      | &copy;Copyright 2016 Bazar | All Rights Reserved
    ul.Footer-media-list
      li.Footer-media-element
        a(href='#')
          i.fab.fa-twitter
      li.Footer-media-element
        a(href='#')
          i.fab.fa-facebook-f
      li.Footer-media-element
        a(href='#')
          i.fab.fa-youtube
      li.Footer-media-element
        a(href='#')
          i.fab.fa-linkedin-in
      li.Footer-media-element
        a(href='#')
          i.fab.fa-pinterest-p