div(class="Header-middle-wrapper")
  ul(class="Header-middle Section-centerer")
    li
      a.Middle-phone(href='tel:+23003560222')
        i.fas.fa-mobile-alt
        | 2300 - 3560 - 222
    li
      a.Middle-logo(href='/')
        img(src='/img/MainLogo.png' alt='Logo' width='165' height='77')
    li
      a.Middle-cart(href='/cart')
        i.fas.fa-shopping-basket
        span.Cart-counter