doctype html
html(lang=i18n.locale)
    head
        meta(charset="utf-8")
        title=typeinfo[0]["type_name_"+i18n.locale]
        link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='../css/all.min.css')
        link(rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png")
        link(rel="manifest" href="/img/favicon/site.webmanifest")
        link(rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        header.Header
            include /templates/top_header.pug
            include /templates/middle_header.pug
            include /templates/bottom_header.pug
        main.Rooms-categories-main
            section.Rooms-categories-section.Section-centerer
                h1.Rooms-categories-header
                    =typeinfo[0]["type_name_"+i18n.locale]
                .Room-categories-wrapper
                    ul.Room-categories-list
                        -for(let i=0;i<roomCategories.length;i++){
                        li.Room-category
                            a(class="Category-link" href=`/catalog_goods/${roomCategories[i]["product_category_name_en"].toLowerCase().replace(/ /g,"_")}`)
                                .Category-img-wrapper
                                    img(src=`/img/categories/${roomCategories[i]["product_category_id"]}.jpg`, alt="" width="250" height="250")
                                p.Category-name
                                    =roomCategories[i]["product_category_name_"+i18n.locale]
                        -}
        footer.Footer
            include /templates/footer_top.pug
            include /templates/footer_bottom.pug
        script(type="module" src="/js/common_script.js")  