mixin productsItems(data)
    li(class="Products-catalog-item" data-receipt-date= data.product_receipt_date.toISOString().substring(0,10))
        -var isSaleClass="Product-catalog-item-top";
        -isSaleClass+=data.product_onsale_price===null ? "":" Sale-item";
        div(class= isSaleClass)
            -var imgDir="/img/products/"+data.category_id+"_"+data.product_id+"/"+data.category_id+"_"+data.product_id+"_1.jpeg";
            img.Catalog-item-img(src= imgDir alt='' width='262' height='260')
            .Product-catalog-item-buttons
              button.Quick-view-btn Quick View
              button.Add-to-cart-btn
                i.fas.fa-shopping-basket
                | ADD TO CART
        .Product-catalog-item-bottom
            a(href='#' class="Item-header-link")
                h3.Item-header= data.product_name
            span(class="Item-rating" data-value-rating= data.product_rating)
                include /templates/star_rating.pug
                +makeStarRating(data.product_rating)
            .Item-decorative-line
            .Item-controls-and-price
                ul.Item-controls
                    li
                        button.Like-btn
                            i.far.fa-heart
                    li
                        button.Compare-btn
                            i.fas.fa-exchange-alt
                .Item-price
                    -if(data.product_onsale_price==null){
                    p.New-price= data.product_static_price
                    -}else{
                    p.Old-price= data.product_static_price
                    p.New-price= data.product_onsale_price
                    -}
-for(let i=0;i<productsInfo.length;i++){
  +productsItems(productsInfo[i])
-}