mixin featuredProducts(data)  
  li
    -var mainImgDir="/img/products/"+data.category_id+"_"+data.product_id+"/"+data.category_id+"_"+data.product_id+"_1.jpeg";
    img(src= mainImgDir alt="" width="116" height="116")
    .Featured-products-about
      a.Item-header-link(href="#")
        h4.Featured-products-header= data.product_name
      -if(data.product_onsale_price){
      p.Old-price= data.product_static_price
      p.New-price= data.product_onsale_price
      -}else{
      p.New-price= data.product_static_price
      -}
      span.Featured-products-rating
        include /templates/star_rating.pug
        +makeStarRating(data.product_rating)
      button.Add-to-cart-btn ADD TO CART
li.Featured-products-subsection
  h3.Featured-products-subsection-header FEATURED PRODUCTS
  ul.Featured-products-subsection-list
    -for(let i=0;i<topProducts.length;i++){
    +featuredProducts(topProducts[i])
    -}