mixin makeFilter(filterName,variantsStart, filtersMas)  
  li.Products-filter-subcategory
    h3.Filter-subcategory-header= filterName
    ul.Subcategory-checkbox-list
      -for(let i=variantsStart;i<filtersMas.length&&filtersMas[i].characteristic_name===filterName;i++){
      li
        label.Subcategory-checbox-variant
          input.Checkbox-filter-checkbox.visually-hidden(type="checkbox" name=filterName+"_"+filtersMas[i].category_characteristic_value)
          span.Checkbox
            i.far.fa-square
            i.fas.fa-check
          span.Variant-checkbox-name= filtersMas[i].category_characteristic_value
      -}
