doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Catalog
    link(rel='stylesheet' type='text/css' href='../css/MainStyle.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='../css/all.min.css')
  body
    header.Header
      .Header-top-wrapper
        .Header-top
          .Top-config
            .Config-money
              a.Current-config-tab.Current-money-tab(href='#')
                | USD
                i.fas.fa-caret-down
              ul.Config-money-list
                li
                  a.Config-money-usd(href='#') USD
                li
                  a.Config-money-euro(href='#') EUR
                li
                  a.Config-money-rubles(href='#') RUB
            .Config-language
              a.Current-config-tab.Current-language-tab(href='#')
                | English
                i.fas.fa-caret-down
              ul.Config-language-list
                li
                  a(href='#') English
                li
                  a(href='#') Russian
            .Config-help
              a.Current-config-tab.Current-help-tab(href='#')
                | Help
                i.fas.fa-caret-down
              ul.Config-help-list
                li
                  a(href='#') First variant
                li
                  a(href='#') Second variant
                li
                  a(href='#') Thrird variant
          ul.User-profile
            li
              a.Profile-login(href='#')
                i.fas.fa-user
                | Login
            li
              a.Profile-register(href='#')
                i.fas.fa-lock
                | Register
            li
              a.Profile-burger(href='#')
                i.fas.fa-bars
                span.visually-hidden Burger
      .Header-middle-wrapper
        ul.Header-middle
          li
            a.Middle-phone(href='tel:+23003560222')
              i.fas.fa-mobile-alt
              | 2300 - 3560 - 222
          li
            a.Middle-logo(href='#')
              img(src='/img/MainLogo.png' alt='Logo' width='165' height='77')
          li
            a.Middle-cart(href='#')
              i.fas.fa-shopping-basket
      .Header-bottom-wrapper
        .Header-bottom
          .Header-Bottom-accurate-nav
            button.Nav-catalog-btn
              i.fas.fa-list
              | Select a category
              i.fas.fa-caret-down
            .Nav-search
              form.Nav-search-form(action='' method='POST')
                input#Header-nav-search-field.Nav-search-field(type='search' name='Search-field' placeholder='Search products...')
                button#Nav-search-submit-btn.Nav-search-submit(type='submit')
                  i.fas.fa-search
          ul.Main-nav
            li
              a(class='Сurrent-tab' href='#') HOME
            li
              a(href='#') FURNITURE
            li
              a(href='#') CHAIR
            li
              a(href='#') TABLE
            li
              a(href='#') SOFA
            li
              a(href='#') BEDROOM
            li
              a(href='#') BLOG
    main.Catalog-main
      section.Catalog-special-offer
        h3.Catalog-special-offer-header
          span.Light-text BEDROOM 
          span.Regular-text FURNITURE
        p.Catalog-special-offer-par
          | ALWAYS
          span.Special-text  25% 
          | OFF OR MORE
      ul.Catalog-nested-nav
        li
          a(href="#")
            | Home
            i.fas.fa-chevron-right
        li
          a(href="#") Furniture     
            i.fas.fa-chevron-right       
        li.Last-nested-tab
          a(href="#")= category_name
      section.Products-catalog-section
        .Products-result-column
          .Products-head
            h2.Products-catalog-header FURNITURE
            .Products-catalog-view-output
              .Sort-by
                label.Sorting-by-label(for="Catalog-roducts-sorting=select") Sort By
                .custom-select
                  select.Products-sorting-type.visually-hidden(name="Catalog-roducts-sorting" id="Catalog-roducts-sorting=select")
                    option(value="1") Rating
                    option(value="2") Price: Lowest first
                    option(value="3") Price: Highest first
                    option(value="4") Alphabet
                    option(value="5") Newest
                  i.fas.fa-caret-down
              .Per-page
                label.Elements-per-page-label(for="Products-per-page-select") Show
                .custom-select
                  select#Products-per-page-select.visually-hidden(name="Products-per-page")
                    option(value="1") 12
                    option(value="2") 24
                    option(value="3") 36
                  i.fas.fa-caret-down
              .Catalog-view-btn-wrapper
                span.Catalog-view-btn
                  i.fas.fa-th-large
                  input(type="button" value="grid")
                span.Catalog-view-btn
                  i.fas.fa-list
                  input(type="button" value="list")
          ul.Products-catalog-grid
            include /templates/catalog/catalog_product_grid.pug
          ul.Products-catalog-grid-new.visually-hidden
        .Products-filters-wrapper
          form(class="Filters-form")
            ul.Products-filters
              include /templates/catalog/catalog_checkbox_filter.pug
              include /templates/catalog/catalog_range_filter.pug
              +rangeFilter("price",minMaxRanges[0].minPrice,minMaxRanges[0].maxPrice)
              +makeFilter("brand",0,categoryBrands)
              -for(let i=0,filterName="";i<categoryFilters.length;i++){
              -if(filterName!==categoryFilters[i].characteristic_name){
              -filterName=categoryFilters[i].characteristic_name;
              +makeFilter(filterName,i,categoryFilters)
              -}}
              +rangeFilter("length",minMaxRanges[0].minlength,minMaxRanges[0].maxlength)
              +rangeFilter("width",minMaxRanges[0].minwidth,minMaxRanges[0].maxwidth)
              +rangeFilter("height",minMaxRanges[0].minheight,minMaxRanges[0].maxheight)
              include /templates/catalog/catalog_features_products.pug
              li.Products-filter-subcategory.visually-hidden
                h3.Filter-subcategory-header FILTER BY TAG
                ul.Subcategory-tag-list
                  li
                    label.Subcategory-tag-variant
                      input.Tag-filter-checkbox.visually-hidden(type="checkbox" name="Tag-checkbox")
                      span.Tag-checkbox-name
                        i.fas.fa-tags
                        | Table
                  li
                    label.Subcategory-tag-variant
                      input.Tag-filter-checkbox.visually-hidden(type="checkbox" name="Tag-checkbox")
                      span.Tag-checkbox-name
                        i.fas.fa-tags
                        | Chair
                  li
                    label.Subcategory-tag-variant
                      input.Tag-filter-checkbox.visually-hidden(type="checkbox" name="Tag-checkbox")
                      span.Tag-checkbox-name
                        i.fas.fa-tags
                        | Hand Bag
                  li
                    label.Subcategory-tag-variant
                      input.Tag-filter-checkbox.visually-hidden(type="checkbox" name="Tag-checkbox")
                      span.Tag-checkbox-name
                        i.fas.fa-tags
                        | Fashion
                  li
                    label.Subcategory-tag-variant
                      input.Tag-filter-checkbox.visually-hidden(type="checkbox" name="Tag-checkbox")
                      span.Tag-checkbox-name
                        i.fas.fa-tags
                        | Clothes
            div(class="Show-results visually-hidden" style="left:-150px; top: 0px;")
              button(class="Show-results-btn" type="submit") Show results
      section.Brands-list-section
        button.List-scroll-left-btn
          i.fas.fa-chevron-left
        ul.Brands-list
          li
            a.List-item(href="#")
          li
            a.List-item(href="#")
          li
            a.List-item(href="#")
          li
            a.List-item(href="#")
          li
            a.List-item(href="#")
          li
            a.List-item(href="#")
        button.List-scroll-right-btn
          i.fas.fa-chevron-right
      .User-news-subscriber-form-wrapper
        .User-news-subscriber-form-centerer
          form(action="" method="POST")
            .User-news-form-content-wrapper
              label.User-news-form-header(for="User-news-email-field")
                | NEWSLETTER:
              .User-news-email-wrapper
                input#User-news-email-field.User-news-email(type="email" name="User-mail" placeholder="Enter your email address")
                .Email-icon-wrapper
                  label(for="User-news-email-field")
                    i.fas.fa-envelope
                .User-news-submit-btn-wrapper
                  input.User-news-submit-btn(type="submit" value="")
                  i.fas.fa-arrow-right
    footer.Footer
      .Footer-top
        ul.Footer-information-lists
          li.Footer-information-element
            ul.Footer-info-list
              li
                h3.Footer-header F.A.Q.
              li
                a(href="#") About us
              li
                a(href="#") Privacy
              li
                a(href="#") Conditions
              li
                a(href="#") Online support
          li.Footer-information-element
            ul.Footer-info-list
              li
                h3.Footer-header MY ACCOUNT
              li
                a(href="#") Login
              li
                a(href="#") My Cart
              li
                a(href="#") Wishlist
              li
                a(href="#") Checkout
          li.Footer-information-element
            ul.Footer-info-list
              li
                h3.Footer-header INFORMATION
              li
                a(href="#") Specials
              li
                a(href="#") New Products
              li
                a(href="#") Best Sellers
              li
                a(href="#") Our Store
          li.Footer-information-element
            ul.Footer-info-list
              li
                h3.Footer-header ORDERS
              li
                a(href="#") Payment options
              li
                a(href="#") Shipping and delivery
              li
                a(href="#") Returns
              li
                a(href="#") Shipping
              li.Payments-types
                img(src="/img/Card_image.png" alt="" width="240" height="35")
      .Footer-bottom-wrapper
        .Footer-bottom
          p
          p.Footer-copyright
            | ©Copyright 2016 Bazar | All Rights Reserved
          ul.Footer-media-list
            li.Footer-media-element
              a(href="#")
                i.fab.fa-twitter
            li.Footer-media-element
              a(href="#")
                i.fab.fa-facebook-f
            li.Footer-media-element
              a(href="#")
                i.fab.fa-youtube
            li.Footer-media-element
              a(href="#")
                i.fab.fa-linkedin-in
            li.Footer-media-element
              a(href="#")
                i.fab.fa-pinterest-p
    script(src="/js/catalog_index.js")
